body {
  font-size: 50px;
}

#header,
#nav,
#content{
  color: black;
  text-decoration: none;
  padding: 30px;  
}

#header {
  background: red;
  height: 100px;
}

#nav {
  background: cornflowerblue;
  text-align: center;
  padding: 40px 0px;
  position: sticky;
  
  top: 0;
}

#content{
  
  font-size: 30px;
  text-align: center;
  padding: 20px 20px;
  height: 1000vh;
  
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.5s;  
}



/* div {
  width: 500px;
  height: 500px;
  background: url("../image/logo.png");  
} */

.span1{
  color: red;
}
.span2{
  color: red;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

table{

}
tr{

}

td{
  border: 1px solid red;
  padding: 10px;
}

#idid{
  color:salmon;
}