// 변수(variables) 재활용이 가능한 용도로 사용하자

$size: 150px; // 전역 변수 및 지역 변수로 사용가능

.container {
  $size2: 50px;
  position: fixed;
  top: 100px;
  .item {
    $size2: 100px; // 변수 재 할당 {} 유효범위 주의
    width: $size;
    height: 100px;
    transform: translateX($size2);
  }
}
.box {
  width: $size2; // 유효범위를 벗어나서 인식x
}