// function! @ 빼면 js랑 유사하다
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@function ratio($size, $ratio) {
  @return $size * $ratio
}
.box {
  $width: 160px;
  width: $width;
  height: ratio($width, 9/16); // 이런식으로 비율(16:9)맞춤에 용이하다.
  @include center;
}