.container {
  width: 250px;
  
  background-color: cornflowerblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.container .item {
  width: 100px;
  height: 100px;
  border: 3px dashed red;
  background-color: orange;
  text-align: center; 
  line-height: 100px;
  color: aliceblue;
  
}