@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100vh;
  padding-top: 30px;
  background: black;
}
#content {
  width: 600px;
  height: 420px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 15px repeat(3, 1fr);
  
}
header {
  background: #BDBEC0;
  grid-column: 1 / -1;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  
}
header .short {
  width: 45px;
  height: 10px;
  margin-left: 5px;
  display: flex;
  
}
.short li {
  width: 6px;
  margin: 2px;
  box-sizing: border-box;
  display: block;
  border: 1px solid #757579;
  border-radius: 50%;
}
header .item {
  width: 100%;
  height: 8px;
  border: 1px solid #757579;
  border-radius: 2px;
}
.title {
  grid-area: 2 / 1 / 3/ 2;
  padding: 7px 5px;
  background: black;
  color: white;
  
}
.title p:nth-child(1) {
  transform: scaleY(-1);
}
.title p:nth-child(3) {
  transform: scaleY(-1);
}
.title p:last-child {
  word-spacing: 7px;
}
.purple {
  grid-area: 2 / 2 / 3 / 3;
  background: #6C01FF;
}
.menu {
  grid-column: 1 / 2;
  grid-row: 3/ span 2;
  background: #FF1706;
  padding: 7px 5px;
  line-height: 120%;
}
.white {
  background: white;
}
.tickets {
  grid-row-start: -2;
  background: #FFC806;
  padding: 7px 5px;
}
.speakers {
  grid-column: -3/ -2;
  grid-row: 2/ span 3;
  background: white;
  padding: 5px 5px;
  line-height: 120%;
  font-size:  12px;
}
.speakers p {
  font-size: 1px;
  margin-bottom: 5px;
}
.speakers ul li:nth-child(6) {
  display: inline;
  background: #6C01FF;
}
.artists {
  grid-column: -2/-1;
  grid-row: 2 / span 3;
  background: white;
  padding: 7px 5px;
  line-height: 120%;
  font-size:  12px;
  
}
.artists p {
  font-size: 1px;
  margin-bottom: 5px;
}
.artists ul li:first-child>span {
  transform: scaleY(-1);
}
