body {
  height: 1000em;
}

.container {
  width: 300px;
  background-color: royalblue;  
  /* position: relative; */
}

.container .item {
  border: 4px dashed red;
  background-color: orange;
}

.container .item:nth-child(1) {
  width: 100px;
  height: 100px;
}

.container .item:nth-child(2) {
  width: 10px;
  height: 50px;
  position: absolute;
  bottom: 30px;

  background-color: orchid;
}
.container .item:nth-child(3) {
  width: 50px;
  height: 10px;  
}