html {
  font-size: 10px;
}
* {
  box-sizing: border-box;  
}
body {
  display: block;
  color: #E3463B;
  font-family: 'Encode Sans SC', sans-serif;
  line-height: 1.1;
  position: relative;
}
.body_header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 7rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #F0F0F0;
  h1 {
    font-weight: 700;
    padding: 40px;
    span {
      display: block;
    }
  }
  .hbody {
    padding: 40px;
    p:first-child {
      font-size: 4rem;
      margin-bottom: 30px;
    }
    p {
      font-size: 2.5rem;
    }
  }
}
main {
  width: 100%;
  background-color: #E3463B;
  color: #fff;
  min-height: 100vh;
  font-size: 2.5rem;
  article {
    padding: 36px 50px;
    position: relative;
    display: block;
    header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      &::before {
        background-image: linear-gradient(rgba(0,0,0,.08), transparent);
        content: '';
        height: 100px;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
      }
    }
    .content {
      width: 100%;
      padding-top: 56.25%;
      position: relative;
      box-shadow: 0 80px 80px -80px #000;
      z-index: 1;
      .content_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("https://besthorrorscenes.com/posters/56_the-vanishing.png");
        background-size: cover;
        background-position: center center;
      }
    }
    footer {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
      .rating {
        display: flex;
        align-items: center;
        > div {
          padding: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          cursor: pointer;
          opacity: .5;
          transition: .5s;
          &:hover {
            opacity: 1;
          }
        }
        .down_num, .up_num {
          margin-top: 8px;
          font-size: .8em;
          cursor: default;
        }
      }
    }
  }
  .main_footer {
    display: flex;
    justify-content: center;
    padding: 36px;
    .Follow {
      padding-left: 20px;
    }
  }
}
@media screen and (min-width: 1400px) {
  .body_header {
    width: 40%;
    height: 100%;
  }
  main {
    padding-left: 40%;
  }
}
@media screen and (max-width: 1400px) {
  body {
    display: flex;
    flex-direction: column;
    .body_header {
      position: relative;
    }
    main {
    }
  }
}
