.box {
  width: 100px;
  height: 100px;
  background-color: aqua;
  transition: 1s;
}

.box:focus {
  background-color: brown;
  width: 300px;
}

input {

}

input:focus {
  background-color: orange;
  
}