.box {
  width: 100px;
  height: 100px;
  background-color: aqua;
  transition: 1s;
  text-align: center;  
}

.box:focus {
  background-color: brown;
  width: 300px;
}

input {

}

.box::after {
  content: "hi";
  display: block; 
  width: 30px;
  height: 30px;
  background-color: royalblue;
}

[type="password"] {
  background-color: salmon;

}
[data-fruit-name]{
  color: red;
}

