.box {
  width: 100px;
  height: 100px;
  background-color: aqua;
  transition: 1s;
}

.box:focus {
  background-color: brown;
  width: 300px;
}

input {

}

input:focus {
  background-color: orange;
  
}

.box::after {
  content: "hi";
  display: block; 
  width: 30px;
  height: 30px;
  background-color: royalblue;
}