/* COMMON*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #E6E8EA;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Roboto mono', monospace, sans-serif;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.inner {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  -webkit-transition: .4s;
  transition: .4s;
}

/* header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
  background-color: #E6E8EA;
}

header > .inner {
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  height: 75px;
  margin: 20px;
}

header .pc-menu {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}

header .pc-menu .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

header .pc-menu .sub-menu ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
}

header .pc-menu .sub-menu ul.menu li {
  position: relative;
}

header .pc-menu .sub-menu ul.menu li:first-child::before {
  display: none;
}

header .pc-menu .sub-menu ul.menu li::before {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background: #333;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

header .pc-menu .sub-menu ul.menu li a {
  font-size: 14px;
  padding: 11px 16px;
  display: block;
  color: #7D7D7D;
}

header .pc-menu .sub-menu ul.menu li a:hover {
  color: #333;
  font-weight: 700;
}

header .pc-menu .sub-menu .search {
  height: 34px;
}

header .pc-menu .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 3px solid #7D7D7D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #E6E8EA;
  color: #000;
  font-size: 12px;
  -webkit-transition: width .4s;
  transition: width .4s;
}

header .pc-menu .sub-menu .search input:focus {
  width: 190px;
  border-color: #333;
}

header .pc-menu .sub-menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 6px;
  right: 5px;
  margin: auto;
  -webkit-transition: .4s;
  transition: .4s;
  color: #7D7D7D;
  cursor: pointer;
}

header .pc-menu .sub-menu .search .material-icons:hover {
  color: #333;
}

header .pc-menu .sub-menu .search.focused .material-icons {
  opacity: 0;
  cursor: default;
}

header .pc-menu .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .pc-menu .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  color: #7D7D7D;
  font-size: 20px;
  font-weight: 600;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .pc-menu .main-menu .item:hover .item__name {
  background-color: #333;
  color: #E6E8EA;
  border-radius: 6px 6px 0 0;
}

header .dropdown-pc {
  width: 300px;
  height: 100px;
  margin-bottom: 10px;
}

header .dropdown-pc-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

header .dropdown-pc-menu {
  position: relative;
  display: block;
  min-width: 120px;
  height: 34px;
  padding: 0 12px;
  font-size: 12px;
  letter-spacing: -0.5px;
  text-align: left;
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

header .dropdown-pc-menu:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  width: 11px;
  height: 7px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .dropdown-pc-menu:disabled {
  color: rgba(0, 0, 0, 0.3);
}

header .dropdown-pc-menu:disabled:after {
  opacity: 40%;
}

header .dropdown-pc-sub {
  display: block;
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0 10px;
  border: 0;
  outline: 0;
  font-size: 12px;
  letter-spacing: -0.5px;
  text-align: left;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

header .dropdown-pc-sub:hover {
  background-color: rgba(196, 196, 0, 0.2);
  font-weight: 600;
}

header .dropdown-pc-list {
  display: none;
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
  border: 1px solid black;
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .dropdown-pc-list.open {
  display: block;
}

@media screen and (min-width: 800px) {
  header .mobile-menu {
    display: none;
  }
  header .dropdown-mobile {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  header .pc-menu {
    display: none;
  }
  header .mobile-menu {
    margin-top: 30px;
    margin-right: 20px;
  }
  header .mobile-menu .material-icons {
    color: #7D7D7D;
    font-size: 50px;
  }
}

.contents {
  padding: 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 140px;
}

section.content_profile {
  height: 646px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.content_profile .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.content_profile .profile.left {
  margin-left: 20px;
}

section.content_profile .profile.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.content_profile .profile.right .git .git-lang {
  width: 500px;
  height: 500px;
  background-image: url("https://github-readme-stats.vercel.app/api/top-langs/?username=hoseong511&exclude_repo=python-lecture,Study,testreact,test&layout=compact");
  background-repeat: no-repeat;
  background-size: contain;
}

section.content_profile .profile .photo .photo__me {
  border-radius: 50%;
  background-image: url("https://avatars.githubusercontent.com/u/62678380?v=4");
  background-size: contain;
  width: 260px;
  height: 260px;
}

section.content_profile .profile .info .info__name li:first-child {
  font-size: 20px;
  color: #333;
  font-weight: 700;
}

section.content_profile .git-stat {
  width: 600px;
  height: 500px;
  background-image: url("https://github-readme-stats.vercel.app/api?username=hoseong511");
  background-repeat: no-repeat;
  background-size: contain;
}

section.content_profile .git-wakatime {
  width: 500px;
  height: 500px;
  background-image: url("https://github-readme-stats.vercel.app/api/wakatime?username=hoseong511");
  background-repeat: no-repeat;
  background-size: contain;
}

.content_project {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */