@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100vh;
}
main {
  height: 100%;
  border: 3px solid black;
  margin: 10px;
  background: black;
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80% auto;
  > div {
    font-size: .8rem;
    background-color: white;
  } 
}
.nav {
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .part1 {
    .short {
      padding: 10px 10px 0 10px;
    }
    .title {
      padding: 0px 10px;
      margin-top: 30px;
      font-size: 1.3rem;
      letter-spacing: 1.2px;
      line-height: 120%;
      display: flex;
      flex-direction: column;
    }
    ul {
      margin-top: 10px;
      li {
        padding: 5px 10px;
        border-top: 1px solid black;
        &:hover {
          background-color: rgb(206, 197, 197);
        }
      }
      li:last-child {
        border-bottom: 1px solid black;
      }
    }
  }
  .part2 {
    padding: 10px;
    > div {
      margin-top: 25px;
    }
    .contact {
      display: flex;
      flex-direction: column;
      line-height: 120%;
      .title {
        font-weight: 700;
      }
    }
  }
}
.home {
  grid-row: 1/-2;
  padding: 10px;
  .title {
    font-size: 1.5rem;
    margin-top: 30px;
    letter-spacing: 1.2px;
    line-height: 120%;
    display: flex;
    flex-direction: column;
  }
  p {
    margin-top: 15px;
  }
}
.contents1 {
  grid-column: 3/-1;
  grid-row: 1/-2;
  background: black;
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  div {
    background-size: cover;
    background-position: center center;
  }
  .left {
    grid-row: 1/-1;
    background-image: url("https://a1office.com.au/wp-content/uploads/2019/05/A1-Visy-Ess-Fields-069.jpg");
    background-position: 20% center;
  }
  .upright {
    background-image: url("https://a1office.com.au/wp-content/uploads/2019/05/A1-Visy-Ess-Fields-080.jpg");
  }
  .downright {
    background: black;
    display: grid;
    gap: 3px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    .item:nth-child(1) {
      grid-area: 1/1/3/3;
      background-image: url("https://a1office.com.au/wp-content/uploads/2019/05/A1-Visy-Ess-Fields-106.jpg");
    }
    .item:nth-child(2) {
      background-image: url("https://a1office.com.au/wp-content/uploads/2019/05/A1-Visy-Ess-Fields-072.jpg");
    }
    .item:nth-child(3) {
      background-image: url("https://a1office.com.au/wp-content/uploads/2019/05/A1-Visy-Ess-Fields-017.jpg");
    }
    .item:nth-child(4) {
      grid-area: span 2/1/-1/2;
      background-image: url("https://a1office.com.au/wp-content/uploads/2019/05/A1-Visy-Ess-Fields-017.jpg");
    }
    .item:nth-child(5) {
      grid-area: span 2/ 2/-1/-1;
      background-image: url("https://a1office.com.au/wp-content/uploads/2019/05/A1-Visy-Ess-Fields-017.jpg");
    }
  }
}
.services {
  grid-column: 2/3;
  padding: 10px;
  .title {
    margin-top: 30px;
    font-size: 1.3rem;
    letter-spacing: 1.2px;
    line-height: 120%;
    display: flex;
    flex-direction: column;
  }
}
.contents2 {
  grid-column: 3/-1;
  background-color: black;
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(2, 1fr) 3.5fr;
  grid-template-rows: repeat(2, 1fr);
  div {
    background-size: cover;
    background-position: center center;
  }
  .item:nth-child(1) {
    grid-area: 1/1/-1/2;
    background-image: url("https://a1office.com.au/wp-content/uploads/2019/05/A1-Visy-Ess-Fields-106.jpg");
  }
  .item:nth-child(2) {
    grid-column: 2/3;
    background-image: url("https://a1office.com.au/wp-content/uploads/2019/05/A1-Visy-Ess-Fields-072.jpg");
  }
  .item:nth-child(3) {
    grid-area: 1/-2/-1/-1;
    background-image: url("https://a1office.com.au/wp-content/uploads/2019/05/A1-Visy-Ess-Fields-017.jpg");
    background-position: center 20%;
  }
  .item:nth-child(4) {
    background-image: url("https://a1office.com.au/wp-content/uploads/2019/05/A1-Visy-Ess-Fields-017.jpg");
  }
}